[data]
    email = {{ promptStringOnce . "email" "Email address" "REDACTED" | quote }}
    # Get your API key at https://openweathermap.org/api
    weather_api_key = {{ promptStringOnce . "weather_api_key" "Weather API Key (Get one at https://openweathermap.org/api)" | quote }}
