{{- if eq .chezmoi.hostname "galdheim" }}
env = LIBVA_DRIVER_NAME,nvidia
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
env = NVD_BACKEND,direct
{{- end }}
env = HYPRCURSOR_THEME,HyprCatppuccinMochaDark
env = HYPRCURSOR_SIZE,20
env = XCURSOR_THEME,HyprCatppuccinMochaDark
env = XCURSOR_SIZE,20
env = QT_QPA_PLATFORMTHEME,qt6ct
env = QT_STYLE_OVERRIDE,Kvantum
env = GTK_THEME,catppuccin-mocha-mauve-standard+default

$BAR                = ~/.config/hyprpanel/hyprpanel.sh
$SPOTIFY            = spotify
$DISCORD            = vesktop
$ZENTWITCH          = env XDG_CURRENT_DESKTOP=zen-twitch zen-browser -P twitch
$LAUNCHER           = /usr/bin/vicinae
$TERM               = kitty
$CALC               = $LAUNCHER vicinae://launch/calculator/history?toggle=true
$POWER_MENU         = $LAUNCHER vicinae://launch/power/menu?toggle=true
$CLIPBOARD_HISTORY  = $LAUNCHER vicinae://launch/clipboard/history?toggle=true
$EMOJI_MENU         = $LAUNCHER vicinae://launch/core/search-emojis
$RANDOM_WALL        = random-wallpaper
$FILE_MAN           = $LAUNCHER vicinae://launch/core/file-manager?toggle=true
$RUNNER_MENU        = $LAUNCHER vicinae://launch/system/run?toggle=true
$OFFSET_WINDOW      = $SCRIPT_DIR/offset-window.sh
$SCREENSHOT         = hyprsnap
$FILE_MAN           = dolphin
$SCRIPT_DIR         = ~/.local/bin

# Autostart programs
# Essential components should start first
exec-once = dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
exec-once = dbus-update-activation-environment --systemd SSH_AUTH_SOCK
exec-once = gnome-keyring-daemon --start --components=secrets,ssh

# User applications
exec-once = $LAUNCHER server
exec-once = $BAR
exec-once = awww-daemon
exec-once = $SPOTIFY
exec-once = $DISCORD
exec-once = hypridle
exec-once = ianny
exec      = $AUTH_AGENT
exec-once = easyeffects -gapplication-service

# Launch terminal(s)
exec-once = [workspace 2 silent] $TERM --app-id="Scratchpad" --name="Scratchpad" --title="Scratchpad"
