# Workspace
{{- if eq .chezmoi.hostname "galdheim" }}
workspace = 1, monitor:DP-5,        persistent:true
workspace = 2, monitor:DP-5,        persistent:true
workspace = 3, monitor:DP-5,        persistent:true
workspace = 4, monitor:HDMI-A-5,    persistent:true
workspace = 5, monitor:HDMI-A-5,    persistent:true
{{- else if eq .chezmoi.hostname "ArchBox" }}
workspace = 1, monitor:eDP-1,        persistent:true
workspace = 2, monitor:eDP-1,        persistent:true
workspace = 3, monitor:eDP-1,        persistent:true
workspace = 4, monitor:eDP-1,        persistent:true
workspace = 5, monitor:eDP-1,        persistent:true
{{- end }}
workspace = special:scratchpad
workspace = special:media


# -----------------------------------------------------
# General / Global
# -----------------------------------------------------
windowrule = suppress_event maximize,       match:class .*

# -----------------------------------------------------
# Productivity / Tools
# -----------------------------------------------------

# Kitty
windowrule = match:class ^(kitty)$, float 0
windowrule = match:class ^(kitty)$, size 56% 65%

# Kitty Fetch
windowrule = match:class ^kittyfetch,           workspace 1
windowrule = match:class ^kittyfetch,           float 0
windowrule = match:class ^kittyfetch,           size 732 452
{{- if eq .chezmoi.hostname "galdheim" }}
windowrule = match:class ^kittyfetch,           monitor DP-5
{{- else if eq .chezmoi.hostname "ArchBox" }}
windowrule = match:class ^kittyfetch,           monitor eDP-1
{{- end }}

# Ghostty
windowrule = match:class ^com.ghostty.jaintp,   float 1
windowrule = match:class ^com.ghostty.jaintp,   workspace 2
windowrule = match:class ^com.ghostty.jaintp,   size 56% 65%

# Antigravity
windowrule = match:class ^antigravity,          workspace 2

# Dolphin
windowrule = match:title ^(.*Dolphin)$,         size 65% 76%

# -----------------------------------------------------
# Gaming
# -----------------------------------------------------

# Steam
windowrule = match:title ^steam,            workspace 1
windowrule = match:class ^Steam,            center 1
windowrule = match:class ^steam,            tile 1

# Battle.net
windowrule = match:title ^Battle.net,           workspace 1
windowrule = match:class ^Battle.net,           tile 1

# World of Warcraft
windowrule = match:title "^World of Warcraft",  workspace 1

# WowUp
windowrule = match:title ^WowUp,                workspace 3

# PortProton
windowrule = match:title ^PortProton,           workspace 1

# Vesktop
windowrule = match:title ^vesktop,              workspace 4

# -----------------------------------------------------
# Media
# -----------------------------------------------------

# Spotify
windowrule = match:class ^spotify,          workspace special:media

# Audible Webplayer
windowrule = match:title "^Audible Cloud Player — Zen Browser", workspace special:media

# IMV
windowrule = match:class ^(imv)$,           size 65%

# -----------------------------------------------------
# System / Utils
# -----------------------------------------------------

# Scratchpad
windowrule = match:class ^Scratchpad,       workspace special:scratchpad
windowrule = match:class ^Scratchpad,       float 0
windowrule = match:class ^Scratchpad,       size 56% 65%

# XWaylandVideoBridge
windowrule = match:class ^(xwaylandvideobridge)$,   opacity 0.0 override
windowrule = match:class ^(xwaylandvideobridge)$,   animation 1
windowrule = match:class ^(xwaylandvideobridge)$,   no_blur 1
windowrule = match:class ^(xwaylandvideobridge)$,   max_size 1 1
windowrule = match:class ^(xwaylandvideobridge)$,   no_initial_focus 1
windowrule = match:class ^(xwaylandvideobridge)$,   no_focus 1

# qBittorrent
windowrule = tile 1,                        match:title ^(.*qBittorrent.*)$

# -----------------------------------------------------
# Layers
# -----------------------------------------------------
layerrule {
    name = notifications,
    blur = 1,
    ignore_alpha = 1,
    match:namespace = notifications
}
layerrule {
    name = vicinae,
    blur = on,
    ignore_alpha = 0,
    match:namespace = vicinae
}
